body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#f4f4f4;
  background: url('../images/diary.jpg') no-repeat;
}
/*global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/*ul*/
ul{
  margin: 0;
  padding: 0;
}
.buttonball{
  height: 30px;
  background: rgb(78, 71, 29);
  border: none;
  padding: 15px 20px 15px 20px;
  color: rgb(252, 251, 247);
  border-radius: 20px;
  
}

/*header*/
header {
  background: #ffffff;
  color: rgb(78, 71, 29);
  padding-top: 30px;
  min-height: 100px;
  /*border-bottom: #084B8A 3px solid;*/
}
header a{
  color: rgb(78, 71, 29);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}
header #brandname {
  float: left;
}
header #brandname h1 {
  font-size: 50px;
  font-weight: 20px;
  margin-bottom: 0;
}
header #brandname p {
  font-size: 15px;
  font-family: serif;
  margin-top: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}

header a:hover {
  color:#cccccc;
  font-weight: bold;
}
table {
  width: 100%;
  background-color: rgb(231, 216, 129);
  border-collapse: collapse;
  
}
table tr {
  border: 1px solid white;
  border-radius: 20%;
}
.dropnav {
  float: auto;
  overflow: hidden;
}

.dropnav .dropbtn {
  font-size: 16px;    
  border: 0;
  outline: none;
  color: rgb(78, 71, 29);
  padding: 0 20px 0 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropnav-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropnav-content a {
  float: none;
  color: rgb(78, 71, 29);
  padding: 10px 0 10px 0;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  display: block;
  text-align: left;
}
.dropnav-content a:hover {
  background-color: #ddd;
  color: black;
  display: block;
}

.dropnav:hover .dropnav-content {
  display: block;
}
.entry {
  margin-bottom: 70px;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.entry table tr{
background: rgb(230, 211, 104);
padding: 0;
height: 60px;
width: 300px;
}
.entry table thead th{
background: rgb(148, 132, 43);
}
.entry p {
  color: rgb(148, 132, 43);
}
.entry select{
  color: rgb(148, 132, 43);
}
.selmonth{
  float: right;
  margin: 0 200px 0 0;
}
#heading{
  min-height: 100px;
  text-align: center;
  color: rgb(78, 71, 20);
}
#heading h1 {
  font-size: 70px;
  font-weight: 20px;
  margin-bottom: 0;
}
#heading p {
  font-size: 15px;
  font-family: serif;
  margin-top: 0;
}
#intro {
  float: left;
  margin-bottom: 10px;
  padding: 20px 10px 20px 10px;
  width: 40%;
  background: rgb(161, 147, 67);
  border-radius: 15%;
  
}
#intro p {
  font-size: 20px;
}
#intro a {
  color: rgb(248, 247, 242);
  text-decoration: none;
}
#login {
  float: right;
  margin-bottom: 60px;
  padding: 20px 10px 20px 10px;
  width: 50%;
  background: rgb(161, 147, 67);
  text-align: center;
  border-radius: 15%;
}
#login input {
  padding: 3px;
  height: 20px;
  width: 250px;
}
.card {
  float: left;
  text-align: center;
  background: rgb(175, 161, 82);
  margin: 0 10px 75px 120px;
  width: 40%;
  padding: 10px 0 0 0;
  border-radius: 20%;
}
.set {
  float: right;
  background: rgb(175, 161, 82);
  margin: 5px 120px 5px 10px;
  padding: 10px 5px 10px;
  width: 30%;
  border-radius: 20%;
}
#entrypop {
  float: auto;
  margin-bottom: 60px;
  padding: 20px 10px 20px 10px;
  width: 30%;
  background: rgb(175, 161, 82);
  text-align: center;
}
#entrypop input {
  padding: 3px;
  height: 20px;
  width: 250px;
}
footer {
position: fixed;
left: 0;
right: 0;
bottom: 0;
width: 100%;
padding: 10px;
margin-top: 1px;
color: #ffffff;
background: rgb(78, 71, 20);
text-align: center;
}
@media (max-width: 600px){
  #intro {
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 20px 10px 20px 10px;
    min-width: 80%;
    background: rgb(161, 147, 67);
    
  }
  #login {
    float: right;
    margin-right: 15px;
    margin-bottom: 60px;
    padding: 20px 10px 20px 10px;
    min-width: 80%;
    background: rgb(161, 147, 67);
    text-align: center;
  }

.card {
  float: left;
  text-align: center;
  background: rgb(175, 161, 82);
  margin: 0 50px 60px 0;
  min-width: 100%;
  padding: 20px 0 20px 0;
  border-radius: 20%;
}
.set {
  float: right;
  background: rgb(175, 161, 82);
  margin: 5px 15px 60px 10px;
  padding: 20px 10px 20px 10px;
  min-width: 80%;
  border-radius: 20%;
}

.selmonth{
  float: right;
  margin: 0 20px 0 0;
}
}
